<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" routerLink="/dasboard">
        CRUDBASIC
      </a>
      <a class="navbar-brand brand-logo-mini" routerLink="/dasboard">
        CRUDBASIC</a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav">
        <li class="nav-item font-weight-semibold d-none d-lg-block"></li>
      </ul>
      <form class="ml-auto search-form d-none d-md-block" action="#">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Búscar...">
        </div>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <img class="img-xs rounded-circle" src="../assets/images/faces/face8.jpg" alt="Profile image"> </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              <img class="img-md rounded-circle" src="../assets/images/faces/face8.jpg" alt="Profile image">
              <p class="mb-1 mt-3 font-weight-semibold">Admin Manage</p>
              <p class="font-weight-light text-muted mb-0">admin@mail.com</p>
            </div>
            <a class="dropdown-item">Perfil <span class="badge badge-pill badge-danger">1</span><i class="dropdown-item-icon ti-dashboard"></i></a>
            <a class="dropdown-item">Salir<i class="dropdown-item-icon ti-power-off"></i></a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- sidebar -->
    <app-sidebar></app-sidebar>
    <!-- sidebar -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row page-title-header">
          <div class="col-md-12">
            <div class="page-header-toolbar">
              <div class="sort-wrapper">
                <a class="toolbar-item" routerLink="/people"> <i class="fa fa-mail-reply"></i> Volver a la lista</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <app-alert-messages [type]="typeAlert" [isShow]="showMessageSuccess" [message]="message"></app-alert-messages>
                <h4 class="card-title">Crear un nuevo registro</h4>
                <form class="forms-sample" [formGroup]="newPeopleForm" (ngSubmit)="register()">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo">
                  </div>
                  <div class="form-group">
                    <label for="telephone">Telefono</label>
                    <input type="text" class="form-control" id="telephone" formControlName="telephone"  placeholder="Teléfono">
                  </div>
                  <!-- <div class="form-group">
                    <label>Foto</label>
                    <div class="input-group col-xs-12">
                      <input type="file" name="image" class="file-upload" formControlName="image">
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label for="biography">Biografia</label>
                    <textarea class="form-control" id="biography" rows="2" formControlName="biography"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary mr-2" [disabled]="!newPeopleForm.valid">Guardar</button>
                  <a class="btn btn-light" routerLink="/people">Cancelar</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- footer -->
      <app-footer></app-footer>
      <!-- footer -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>